<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="/public/style/admin.css">
    </head>
    <body>
        <h1> Add a new project </h1>
        <div class="form-container">
            <form method="post" th:action="@{/admin/saveProject}" th:object="${new_project}">
                <div>
                    <p>Topic</p>
                    <input type="text" th:field="*{topic}">
                </div>
                <div>
                    <p>HTML content</p>
                    <textarea rows="8" id="html" name="html" th:value="${html}"></textarea>
                </div>  
                <button type="submit">Create</button>
            </form>
        </div>
    
        <h1>List of Projects</h1>
        <div class="project-grid">
            <div th:each="project: ${projects}" class="project-card">
                <form method="post" th:action="@{/admin/saveProject}" th:object="${to_update_project}">
                        <input type="hidden" th:field="*{_id}"/>
                    <div>
                        <p>Topic</p>
                        <input  disabled type="text" id="topic" name="topic" th:value="${project.topic}">
                    </div>
                    <div>
                        <p>HTML content</p>
                        <textarea disabled rows="8" id="html" name="html" th:value="*{html}" th:text="${project.html}"></textarea>
                    </div>
                    <!-- <button type="submit">Save modification</button> -->
                    <a th:href="@{/admin/deleteProject/{id}(id=${project._id})}" class="delete-button">Delete project</a>
                </form>
            </div>
        </div>
    </body>    
</html>