<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M. Marsou</title>
    <link rel="stylesheet" href="/style/button.css">
    <link rel="stylesheet" href="/style/background.css">
    <link rel="stylesheet" href="/style/projects.css">
    <link rel="stylesheet" href="/style/index.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="phone"> Ce portfolio n'est pas pris en charge pour les smartphones. <br> Veuillez nous excuser pour la gêne occasionnée <br>--<br> Veuillez ouvrir une version pour ordinateur.</div>
<div id="container">
    <div id="left-column">
        <p>My CV</p>
        <svg onclick="home_to_CV()" width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
            </g>
        </svg>
    </div>

    <div id="profile-column">
        
        <img id="profile-image" src="/pictures/profile.png" alt="Ma photo"> <!-- Remplacez 'profile-image.jpg' par le chemin de votre photo -->
        <h1>Soulaïman Marsou</h1>
        <h3> Graduate IT Engineer <br> Software Engineering · DATA · AI </h3>
        <p id="description"> I'm looking for a job opportunity in the field of <strong>Software Engineering</strong> or in the field of <strong>Data</strong> in <strong>Belgium or Luxembourg</strong>. Here is my portfolio. Do not hesitate to check my CV or my projects. You can also find me on LinkedIn.
        </p>
        <img id='homebutton' src="/pictures/home.png" onclick="home()">

    </div>

    <div id="right-column">
        <p>My projects</p>
        <svg onclick="home_to_projects()" width="18px" height="17px" viewBox="-1 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
                <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                <path d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
            </g>
        </svg>
    </div>
</div>
<!-- Quand on affiche le CV -->
<iframe id="cv" class="pdf" src="/pdf/CV.pdf" width="90%" height="100%"> </iframe>
<!-- Quand on affiche les projets -->
<div id="projects">
    <div id="maintenance">
        <img src="/pictures/work-progress.png">
    </div>
    <div class="panel">
        <div th:each="topic: ${topics}">
            <h1 style="font-weight:700" th:text="${topic}"></h1>
            <div class="subpanel">
                <div th:each="project: ${projects}" th:if="${project.topic == topic}" th:utext="${project.html}" class="subsubpanel">
                </div>
            </div>
        <div>
    </div>
</div>

</div>

<!-- begin background -->
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<!-- end background -->
<script src="/js/animation.js"></script>

</body>
</html>
