<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="/public/style/index.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
</head>

<body>
  <div id="phone"> Ce portfolio n'est pas pris en charge pour les smartphones. <br> Veuillez nous excuser pour la gêne occasionnée <br>--<br> Veuillez ouvrir une version pour ordinateur.</div>
  
  <header class="header">
    <a href="#home" class="logo">Soulaïman Marsou</a>
    <nav class="navbar">
      <a href="#home" class="active" >Home</a>
      <a href="/public/pdf/CV.pdf" target="_blank">Resume</a>
      <a href="#portfolio">Projects</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <!-- ********************* Part 1 ********************* -->
  <section class="home" id="home">
    <div class="home-content">
      <h3>Hello, It's me 👋</h3>
      <h1>Soulaïman Marsou</h1>
      <h3>Your go-to <span class="text"></span></h3>
      <p>
        I'm an IT Engineer passionate about technology and innovation.  
      <br> Specialize in Data & AI, with a solid background in Software Development, I'm always eager to learn and grow in new areas.  
      <br> And there's so much more I'm excited to share with you...
      </p>

      <div class="home-Sci">
        <a href="https://www.linkedin.com/in/soula%C3%AFmanmarsou/" target="_blank" rel="noopener noreferrer" style="--i:9"><i class='bx bxl-linkedin-square'></i></a>
        <a href="https://github.com/smarsou" target="_blank" rel="noopener noreferrer" style="--i:10"><i class='bx bxl-github'></i></a>
      </div>
      <a href="#what" class="btn-box">More About Me</a>
    </div>
    <div class="about-img1">
      <img class="img1" src="img.png" alt="">
    </div>
  </section>

  <section class="services" id="services">
    <div class="container" id="what">
      <h1 class="sub-title">What I <span>do</span>? 💪</h1>
      <div class="services-list">
        <div>
          <i class='bx bx-code' style='color:#00eeff'></i>
          <h2>Development</h2>
          <p>💻 I develop robust software and web applications in Python, Java, or PHP. I'm experienced with frameworks like Flask, Spring Boot, and Laravel. 
          🔄 I use efficient CI/CD pipelines with GitHub, Docker, and SonarQube to streamline the development process. 
          🖥️ I also manage Linux server configurations and possess a broad range of skills in System Engineering. 
          🌐 Additionally, I implement REST APIs to enable seamless communication between services.</p>
        </div>
        <div>
          <i class='bx bx-bar-chart-alt-2' style='color:#00eeff'></i>
          <h2>Data Science</h2>
          <p>📊 I extract meaningful features from complex datasets through Exploratory Data Analysis (EDA). 
          🐍 I leverage Python in Jupyter Notebooks with libraries like pandas, matplotlib, and scikit-learn to clean, transform, and unlock the full potential of data.</p>
        </div>
        <div>
          <i class='bx bx-bot' style='color:#00eeff'></i>
          <h2>AI</h2>
          <p>🤖 I specialize in training Machine Learning Models and Large Language Models. 
          🧠 Using PyTorch and Hugging Face, I optimize training processes to achieve the best performance. 
          🌐 I integrate these solutions into web applications by implementing REST APIs, making AI accessible and functional in real-world scenarios.</p>
        </div>
        <div>
          <i class='bx bx-data' style='color:#00eeff'></i>
          <h2>Big Data</h2>
          <p>🗄️ I design and manage databases using robust technologies, handling both SQL and NoSQL systems. 
          🐘 My primary experience is with PostgreSQL, but I also work with MongoDB and HBase. 
          🌐 I am familiar with Hadoop and its HDFS ecosystem. 
          🚀 To stay up-to-date, I continually train on modern tools and technologies, including Azure Data solutions.</p>
        </div>        
      </div>
    </div>
  </section>

  <section>
    <div id="portfolio">
        <div class="main-text" id="project">
            <h2>Latest <span>Projects</span></h2>
            <div class="portfolio-content">
                <div class="project-image-wrapper"><img class="project-image" src="/public/pictures/ai-1.png" alt="Project Image"></div>
                <div class="portfolio-row">
                    <div class="layer">
                      <h5>AI SaaS</h5>
                      <p>
                        I developed an AI SaaS platform that detects whether an English text was written by a human or a large language model (LLM). <br>
                        🤖 The AI model is a <strong style="color:#00eeff">Random Forest</strong> classifier, selected after performing a <strong style="color:#00eeff">GridSearch</strong> across various models. <br>
                        🔍 Explore the Exploratory Data Analysis (<strong style="color:#00eeff">EDA</strong>) and training process <a href="https://github.com/smarsou/ai-text-detector/blob/master/data/eda_and_training.ipynb" style="color:#00eeff" target="_blank">here</a>. <br>
                        🧼 The dataset underwent thorough analysis and <strong style="color:#00eeff">cleaning</strong> prior to training. <br>
                        📚 <strong style="color:#00eeff">FastText</strong> was used as the NLP method for data vectorization. <br>
                        🚀 The AI model is deployed via a <strong style="color:#00eeff">REST API</strong> built with <strong style="color:#00eeff">Flask</strong>. <br>
                        🌐 It is hosted on an <strong style="color:#00eeff">Ubuntu VM</strong> from <strong style="color:#00eeff">OVH Cloud</strong>, configured with <strong style="color:#00eeff">Nginx</strong> and <strong style="color:#00eeff">Docker</strong>. <br>
                        📨 The web page interacts with the <strong style="color:#00eeff">REST API</strong> using <strong style="color:#00eeff">AJAX requests</strong>. <br>
                      </p>                                                              
                        <div class="list-button">
                          <a href="http://smarsou.fr/lab/hackaton" target="_blank" rel="noopener noreferrer" class="btn-box">Try the app !</a>
                          <div class="home-Sci"><a href="http://github.com/smarsou/ai-text-detector" target="_blank" rel="noopener noreferrer" style="--i:10"><i class='bx bxl-github'></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-row">
                    <div class="layer">
                        <h5>Portfolio Web Development</h5>
                        <p>
                          The current website on which you are is a web app developed in Java with the framework Spring Boot. <br>
                          ⚙️ Backend in <strong style="color:#00eeff">Java</strong> with <strong style="color:#00eeff">Spring Boot</strong>.<br>
                          🧪 <strong style="color:#00eeff">JUnit</strong> and <strong style="color:#00eeff">Mockito</strong> for unit and integration testing.<br>
                          ✨ <strong style="color:#00eeff">SonarCloud</strong> for code quality assurance.<br>
                          📦 Microservice <strong style="color:#00eeff">REST API</strong> for data management through a dedicated Spring Boot application.<br>
                          🐳 <strong style="color:#00eeff">Docker</strong> with <strong style="color:#00eeff">Docker Compose</strong> and <strong style="color:#00eeff">Systemd</strong> for deploying applications (Web app, API, Nginx).<br>
                          🌐 <strong style="color:#00eeff">Nginx</strong> used as a reverse proxy.<br>
                          🚀 Workflow with <strong style="color:#00eeff">GitHub Actions</strong> for managing the CI/CD pipeline.<br>
                        </p>                        
                        <div class="list-button">
                          <div class="home-Sci"><a href="http://github.com/smarsou/spring-web-portfolio" target="_blank" rel="noopener noreferrer" style="--i:10"><i class='bx bxl-github'></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="project-image-wrapper"><img class="project-image" src="/public/pictures/portfolio-2.png" alt="Project Image"></div>
                <div class="project-image-wrapper"><img class="project-image" src="/public/pictures/viz.png" alt="Project Image"></div>
                <div class="portfolio-row">
                  <div class="layer">
                    <h5>Wildfire Data Visualization Mapping</h5>
                    <p>
                      A visualization project to enhance the evolution of forest fires in France over the years. <br>
                      🌐 Collect <strong style="color:#00eeff">CSV data</strong> from official government websites. <br>
                      🗺️ Find relevant <strong style="color:#00eeff">SVG maps</strong> of France. <br>
                      🧹 <strong style="color:#00eeff">Clean</strong> and <strong style="color:#00eeff">transform</strong> data to apply it to maps. <br>
                      💻 Create a simple and efficient <strong style="color:#00eeff">static website</strong> to display data. <br>
                      📊 Implement visualizations with <strong style="color:#00eeff">JavaScript</strong> using the <strong style="color:#00eeff">D3.js</strong> library.
                    </p>                    
                    <div class="list-button">
                      <a href="http://smarsou.fr/lab/viz/" target="_blank" rel="noopener noreferrer" class="btn-box">Have a look !</a>
                      <div class="home-Sci"><a href="http://github.com/smarsou" target="_blank" rel="noopener noreferrer" style="--i:10; visibility: hidden;"><i class='bx bxl-github'></i></a></div>
                    </div>
                  </div>
              </div>
                <div class="portfolio-row">
                    <div class="layer">
                      <h5>And Much More Coming Soon...</h5>
                      <p>Currently being worked on...<br>
                        Soon to be featured in this portfolio: EDA projects, a ChatBot LLM project with HuggingFace integration, Data Visualization, a C Compiler, C programming projects, and much more...  
                      </p>                          
                      <div class="list-button">
                        <div class="home-Sci"><a href="http://github.com/smarsou" target="_blank" rel="noopener noreferrer" style="--i:10"><i class='bx bxl-github'></i></a></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- ********************* Part 2 ********************* -->
  <section class="about" id="about">
    <div class="project-image-wrapper">
      <img class="illustr-image" src="/public/pictures/who.webp" alt="Who Am I Image">
    </div>
    <div class="about-text">
      <h2>Who Am I? 🫣</h2>
      <h4>Adaptable <span>IT Engineer</span> with a Passion for <span>Innovation</span></h4>
      <p>
        Hi! I'm an IT Engineer with diverse skills and a passion for problem-solving. <br>
        💡 My expertise spans Data Science, Database Administration, Generative AI, backend developement and system administration.  <br>
        🛠️ I work with tools like Docker, GitHub Actions, and SonarQube to streamline workflows, and I have solid experience in Linux server management.  <br>
        🤝 Combining technical expertise with strong soft skills, I focus on teamwork, adaptability, and delivering impactful results. 
        </p>        
      <a href="/public/pdf/CV.pdf" target="_blank" rel="noopener noreferrer" class="btn-box">Check My Resume</a>
    </div>
  </section>

  <!-- ********************* Part 3 ********************* -->

  <section class="about" id="whywork">
    <div class="about-text">
      <h2>Why work with me? 🤔</h2>
      <h4>🎛️ Technical expertise with broad skills</h4>
      <p>
      I possess strong technical skills across various domains: Computer Programming, Software Development, Web Development, Generative AI, Data Science, Database Administration, and System Administration. With this diverse experience, no new IT field is beyond my reach—I continuously expand my expertise.
      </p>
      <h4>⚡ A Quick Learner</h4>
      <p>
      My greatest strength lies in my adaptability and ability to learn quickly. I excel at mastering the best tools and techniques required to meet project goals. I am eager to embrace new technologies and innovative approaches, believing that success stems from leveraging both innovation and the valuable insights of others.
      </p>
      <h4>💡 Soft skills matter</h4>
      <p>
      Soft skills are the key to a project's success. They allow me to understand the needs and concerns of others and to communicate effectively, fostering collaboration to achieve shared goals. Communication is pivotal, and I also excel in crisis management when needed.
      </p>
      <!-- <a href="#" class="btn-box">More About Me</a> -->
    </div>
    <div class="project-image-wrapper">
      <img src="/public/pictures/why.webp" class="illustr-image" alt="Why Image">
    </div>
  </section>

  <!-- ********************* Part 4 ********************* -->
  <!-- <section class="skills" id="skills">
    <div class="container1">
      <h1 class="heading1">Technical Skills</h1>
      <div class="Technical-bars">
        <div class="bar">
          <i class='bx bxl-html5' style='color:#ff8c00'></i>
          <div class="info">
            <span>HTML</span>
          </div>
          <div class="progress-line html">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i class='bx bxl-css3' style='color:hsl(201, 89%, 48%)'></i>
          <div class="info">
            <span>CSS</span>
          </div>
          <div class="progress-line css">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i class='bx bxl-javascript' style='color:#fff700'></i>
          <div class="info">
            <span>JavaScript</span>
          </div>
          <div class="progress-line javascript">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i class='bx bxl-python' style='color:#00eeff'></i>
          <div class="info">
            <span>Python</span>
          </div>
          <div class="progress-line python">
            <span></span>
          </div>
        </div>
        <div class="bar">
          <i class='bx bxl-react' style='color:#00eeff'></i>
          <div class="info">
            <span>React</span>
          </div>
          <div class="progress-line react">
            <span></span>
          </div>
        </div>
      </div>
    </div>

     ********************* Part 5 *********************
    <div class="container">
      <h1 class="heading1">Professional Skills</h1>
      <div class="radial-bars">
        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-1" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">90%</div>
          <div class="text">Creativity</div>
        </div>

        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-2" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">65%</div>
          <div class="text">Communication</div>
        </div>

        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-3" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">75%</div>
          <div class="text">Problem Solving</div>
        </div>

        <div class="radial-bar">
          <svg x="0px" y="0px" viewBox="0 0 200 200">
            <circle class="progress-bar" cx="100" cy="100" r="80"></circle>
            <circle class="path path-4" cx="100" cy="100" r="80"></circle>
          </svg>
          <div class="percentage">85%</div>
          <div class="text">Teamwork</div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- ********************* Part 6 ********************* -->
  <!-- Uncomment and adjust when ready -->
  
    
   

  <!-- *************************** last potion contact -->

  <br /></br>
  <!-- Footer section design -->
  <footer class="footer" >
    <div class="footer-waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>

    <div class="footer-content">
      <div class="footer-section">
        <h3>Let's Connect</h3>
        <div class="social-icons">
          <!-- <a href="#" class="social-icon">
            <i class='bx bxl-instagram-alt' style='color:#E4405F'></i>
          </a>
          <a href="#" class="social-icon">
            <i class='bx bxl-whatsapp' style='color:#25D366'></i>
          </a> -->
          <a href="#" class="social-icon">
            <i class='bx bxl-linkedin-square' style='color:#0A66C2'></i>
          </a>
          <a href="#" class="social-icon">
            <i class='bx bxl-github' style='color:#fff'></i>
          </a>
        </div>
      </div>

      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul class="footer-links">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <!-- <li><a href="#skills">Skills</a></li> -->
          <li><a href="#portfolio">Projects</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3 id="contact">Contact Info</h3>
        <p><i class='bx bxs-envelope'></i>soulaimanmarsou@outlook.fr</p>
        <p><i class='bx bxs-phone'></i>+33 7 82 98 94 05</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2024 Soulaïman Marsou | All Rights Reserved</p>
      <p>Template from : Shekh Dalim</p>
    </div>
  </footer>

  <!-- *************************** -->

  <script src="/public/js/main.js"></script>
</body>

</html>