.chatbot {
    width: 35%;
    margin-left: 10%;
    margin-right: 5%;
    height: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid #0ef;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;
}

.chat-header {
    background-color: #343541;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #081b29;
}

.chat-message {
    max-width: 75%;
    padding: 12px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chat-message.user {
    align-self: flex-end;
    color: white;
    border: 1px solid white;
}

.chat-message.assistant {
    align-self: flex-start;
    color: #0ef;
    border: 1px solid #0ef;

}

.chat-message.typing {
    align-self: flex-start;
    color: rgb(0, 129, 138);
    border: 1px solid rgb(0, 129, 138);
    font-style: italic;
}

.chat-input {
    display: flex;
    padding: 15px;
    border-top: 1px solid #0ef;
    background-color: #343541;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f4f4f4;
    outline: none;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: rgb(0, 183, 196);
    color: #081b29;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.chat-input button:hover {
    background-color: rgb(0, 238, 255);
}

@media (max-width: 768px) {

    .chatbot{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
        height: 40%;
        margin-top: 50%;
        margin-bottom: 50%;
    }
}